.gaucher {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.acajou {
  fill: url('#acajou');
}

.aulne {
  fill: url('#aulne');
}

.frene {
  fill: url('#frene');
}

.tilleul {
  fill: url('#tilleul');
}

.erable {
  fill: url('#erable');
}

.palissandre {
  fill: url('#palissandre');
}

.ebene {
  fill: url('#ebene');
}

.erable-mouchete {
  fill: url('#erable-mouchete');
}

.Bleu {
  fill: url('#Bleu');
}

.Blanc {
  fill: url('#Blanc');
}

.Rouge {
  fill: url('#Rouge');
}

.Noir {
  fill: url('#Noir');
}

.body-wood-item {
  height: 30px;
  width: 30px;
}

.black {
  fill: url('#black')
}

.white {
  fill: url('#white')
}
