<div class="banner" style="background-image: linear-gradient(-135deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 50%), url('<%= image_path('guitar-craft.jpg') %> ');">
  <div class="container">
    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
    <h1>Nous avons bien reçu votre paiement</h1>
    <p>Nous nous occupons maintenant de fabriquer la guitare de vos rêves.</p>
  </div>
</div>

