<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <br />
        <h1>Merci !</h1>
        <h3>Nous devons verifier votre adresse email, pour cela veuillez cliquer sur le lien contenu dans l'email que nous venons de vous envoyer</h3>
        <br />
        <%= link_to "Accueil", root_path, class: "btn btn-banner hvr-sweep-to-right " %>
      </div>
    </div>
  </div>
</div>
