<div class="container">
  <h1>À propos d'AB Web Lille</h1>
    <p>AB Web Lille est une agence web indépendante basée dans la métrople de Lille dans le Nord de la France.</p>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= image_tag "ordi.jpg", class: "img-service" %>
      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Aurélien Bigo, 29ans.
          <li>Issu d'une formation commerciale et marketing.
          <li>Formé par <strong>Le Wagon à Lille</strong>, Batch #87 : l'une des meilleures formations de développement web d'Europe en Ruby on Rails, html, css et javascript.
          <li><strong>Fullstack développement</strong> : front end et back-end. Développe sous CMS Prestashop et Wordpress ou application Rails et Middleman.
          <li>Spécialiste du <strong>growth hacking</strong> : j'intègre l'aspect marketing dans le développement web grâce à ma double casquette. Le résultat est tant visuel que performant. Un site esthétique qui fait la paire avec un SEO performant.
        </ul>
      </div>
  </div>
</div>
