---
title: AB Web Lille - Optimisation de site internet.
description: Nous créons, améliorons et optimisons votre site internet pour booster votre business.
---

<div class="banner" style="background-image: url(<%= image_path 'banner.jpg'%>);">
  <div id="home">
    <div class="home-content">
      <h1>
        ACCOMPAGNEMENT WEB, CRÉATION ET AMÉLIORATIONS.
      </h1>
      <div class="catch-content">
        <%= link_to "Découvrez nos services", "service.html", class: "home-btn btn btn-primary" %>
        <%= link_to "Contactez-nous", "contact.html", class: "home-btn btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 container-card" align="center">
    <div class="col-md-3 card-home">
      <i class="fa fa-search picto-home"></i>
      <h2>SEO</h2>
      <p>Le SEO est le référencement naturel. Devenez visible sur les moteurs de recherche. Nous vous accompagnons dans la mise en place et le suivi de votre référencement. </p>
    </div>

    <div class="col-md-3 card-home">
      <i class="fa fa-area-chart picto-home"></i>
      <h2>SEA</h2>
      <p>Le SEA regroupe toute la publicité en ligne, les annonces sur les moteurs de recherche par exemple via Google Adword ou Bing Ads.</p>
    </div>

    <div class="col-md-3 card-home">
      <i class="fa fa-pencil picto-home"></i>
        <h2>Rédaction web</h2>
        <p>Du contenu optimisé ! Nous vous accompagnons dans la rédaction de textes optimisés, et nous vous formons sur les bonnes techniques à adopter.</p>
    </div>

    <div class="col-md-3 card-home">
      <i class="fa fa-connectdevelop picto-home"></i>
      <h2>UX et UI</h2>
      <p>L'expérience client est primordial. Il faut qu'il se sente à l'aise. Nous vous aidons à créer un site ergonomique, beau et fonctionnel.</p>
    </div>

    </div>

    <div class="row">
      <div class="col-xs-12 text-home">
        <h2>L'agence AB Web Lille en quelques mots</h2>
        <p><strong>AB Web Lille</strong> est une agence d'accompagnement web. Nous proposons nos services à toutes les entreprises qui souhaitent <strong>améliorer leur présence sur internet</strong>.
        Grâce à notre double casquette nous pouvons vous accompagner sur l'amélioration visuelle de votre site ainsi que l'optimisation référentielle (SEO) par l'amélioration de vos contenu.</p>
      </div>
    </div>
  </div>
</div>
