<div class="container">
  <div class="thanks-container">

    <h2>Mentions légales</h2>

    <p>
      AB Web Lille est une micro-entreprise créée par Mr Aurélien Bigo. Elle est domiciliée au 82 rue Paul Verlaine, 59118 Wambrechies.
      Elle est immatriculée au RCS de Lille. Numéro de Siret : 834 777 542 00012 et a pour activité principale le Programmation Informatique.
    </p>
  </div>
</div>
