

<div class="container">
  <div class="service-content">
    <h1>Nos services</h1>

    <h2>SEO - Le référencement naturel</h2>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= image_tag "seo.jpg", class: "img-service" %>
      </div>

      <div clas="col-xs-12 col-md-8">
        <p>
          Nous vous accompagnons à <strong>acquérir un trafic qualifié</strong> en rédigeant du texte optimisé. Il doit être à la fois compréhensible des visiteurs et des moteurs de recherche. Nous voulous améliorer votre positionnement et vous faire comprendre les réels enjeux du SEO.
        </p>
      </div>
    </div>

  <h2>SEA - La publicité en ligne </h2>
    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= image_tag "sea.jpg", class: "img-service" %>
      </div>

      <div clas="col-xs-12 col-md-8">
        <p>
          Nous vous accompagnons sur l'élaboration et <strong>la mise en place de votre stratégie publicitaires.</strong> Elle peut s'apparenter à de la publicité textuelle, shopping, display, vidéo. Elle peut également paraître via les réseaux sociaux.
          Notre expértise et votre savoir permettent d'obtenir des résultats concrets du ROI, de l'aumgentation du chiffre d'affaires, de votre visibilité ...
        </p>
      </div>
    </div>

<h2>UX/UI - L'expérience utilisateur </h2>
    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= image_tag "code.jpg", class: "img-service" %>
      </div>

      <div clas="col-xs-12 col-md-8">
        <p>
          Avant d'agmenter le trafic et votre visibilité il est bon de s'assurer que l'expérience client est simple pour que l'utilisateur reste sur votre site et le parcours.
          Grâce à notre savoir-faire nous pouvons effectuer des <strong>améliorations ergonimques sur votre site,</strong> quelque soit le language ou CMS utilisé (Prestashop, Wordpress...)
        </p>
      </div>
    </div>

    <h2>Création de contenu web et réseaux sociaux </h2>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= image_tag "ordi.jpg", class: "img-service" %>
      </div>

      <div clas="col-xs-12 col-md-8">
        <p>
          Du texte en bonne quantité, des publications régulières et de <strong>la cohérence entre vos différents supports de communication.</strong> Nous vous guidons sur les bonnes techniques à suivre. Exploitez au maximum les outils que vous avez à disposition.
        </p>
      </div>
    </div>

  </div>
</div>



