---
title: Olli-b Environnement - Mentions légales
---
<div class="mentions-container">
  <h2>OLLI-B ENVIRONNEMENT</h2>
  <p>445 BOULEVARD GAMBETTA
  </br>
  59200 Tourcoing</p>


  <p>Située à TOURCOING (59200), au 445 Boulevard Gambetta, la société OLLI-B ENVIRONNEMENT est active depuis 2 ans. Cette société à responsabilité limitée unipersonnelle a vu le jour le 14 septembre 2012, immatriculée à Roubaix-Tourcoing, sous le numéro d’enregistrement 753 813 716, cette société est spécialisée dans le secteur d’activité de la collecte des déchets non dangereux. A ce jour, le capital social de l’entreprise OLLI-B ENVIRONNEMENT est de 1 000,00 euros.
  </p>

  <p>M. Ollivier BIGO, né en 1962, en tant que gérant, est dirigeant de l’entreprise OLLI-B ENVIRONNEMENT.
  </p>

  <p>Activité : Collecte des déchets non dangereux
  Catégorie : Eau et gestion des déchets
  Siège social : 445 Boulevard Gambetta 59200 TOURCOING
  Forme juridique : SARL unipersonnelle
  SIRET : 75381371600010
  RCS : Roubaix-Tourcoing B 753 813 716
  Capital social : 1.000,00 EURO
  Immatriculation 14-09-2012
  Nationalité : France
  </p>
</div>
