---
title: Olli-b Environnement - Les déchets, notre métier.
title_seo: "Olli-b Environnement : Les déchets, notre métier"
description: "Olli-B grâce à son indépendance, permet de proposer à l’ensemble des industrielles des filières de traitement ou de valorisation agrées les plus compétitives, tout en offrant une prestation globale pour la recherche de ces filières."
---

<div class="about-container">
  <div class="about-content">
    <h1>Les déchets, notre métier</h1>
    <p>
      Olli-B grâce à son indépendance, permet de proposer à l’ensemble des industrielles des filières de traitement ou de valorisation agrées les plus compétitives, tout en offrant une prestation globale pour la recherche de ces filières.
    </p>
    <p>
      Elle prend en charge la recherche de filières, l’acceptation du déchet, le montage du dossier transfrontalier en cas d’exportation, la collecte , le transport tout en garantissant une traçabilité totale du déchet, de la prise en charge jusqu’à sa destruction ou sa valorisation.

      <ul>Nous vous proposons le traitement ou la valorisation :

        <li>Déchets liquides ou solides : polluants – toxiques – corrosifs</li>
        <li>Petite moyenne ou grande quantité</li>
        <li>En vrac ou conditionnées (fûts, bidons IBC)</li>
      </ul>
    </p>
  </div>
</div>
