<div class="footer">
  <div class="footer-links">
    <%= link_to "Mentions légales", "mentions.html" %>
    <%= link_to "Nous contacter", "#" %>
  </div>
  <div class="footer-copyright">
    <p><i class="fa fa-copyright" aria-hidden="true"></i> Olli-B Environnement - All right reserved</p>
  </div>
</div>
