.gaucher {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.acajou {
  fill: url('#acajou');
}

.aulne {
  fill: url('#aulne');
}

.frene {
  fill: url('#frene');
}

.tilleul {
  fill: url('#tilleul');
}

.erable {
  fill: url('#erable');
}

.palissandre {
  fill: url('#palissandre');
}

.ebene {
  fill: url('#ebene');
}

.erable-mouchete {
  fill: url('#erable-mouchete');
}

.bleu {
  fill: url('#bleu');
}

.blanc {
  fill: url('#blanc');
}

.rouge {
  fill: url('#rouge');
}

.noir {
  fill: url('#noir');
}

.body-wood-item {
  height: 30px;
  width: 30px;
}

.aucune {
  fill: url('');
}

.black {
  fill: url('#black');
}

.white {
  fill: url('#white');
}

.solid-color {
  fill: url('#solid-color');
}

.black-jet {
  fill: url('#black-jet')
}

.blue-daphne {
  fill: url('#blue-daphne')
}

.blue-sky {
  fill: url('#blue-sky')
}

.blue-sonic {
  fill: url('#blue-sonic')
}

.blue-union {
  fill: url('#blue-union')
}

.cream-vintage {
  fill: url('#cream-vintage')
}

.desert-tan {
  fill: url('#desert-tan')
}

.desert-tan {
  fill: url('#desert-tan')
}

.green-british-racing {
  fill: url('#green-british-racing')
}

.green-seafoam {
  fill: url('#green-seafoam')
}

.green-surf {
  fill: url('#green-surf')
}

.orange-capri {
  fill: url('#orange-capri')
}

.orange-surf {
  fill: url('#orange-surf')
}

.pink-shell {
  fill: url('#pink-shell')
}

.red-dakota {
  fill: url('#red-dakota')
}

.red-fiesta {
  fill: url('#red-fiesta')
}

.red-union {
  fill: url('#red-union')
}

.white-aged-olympic {
  fill: url('#white-aged-olympic')
}

.white-arctic {
  fill: url('#white-arctic')
}

.white-new-olympic {
  fill: url('#white-new-olympic')
}

.yellow-tv {
  fill: url('#yellow-tv')
}
