

<div class="container">
  <div class="realisation-content">
    <h1>Notre métier</h1>

    <h2>À propos d'AB Web Lille</h2>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= image_tag "ordi.jpg", class: "img-service" %>
      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Aurélien Bigo, 29ans.
          <li>Issu d'une formation commerciale et marketing.
          <li>Formé par Le Wagon à Lille, Batch #87 : l'une des meilleures formations de développement web d'Europe en Ruby on Rails, html, css et javascript.
          <li>Fullstack développement : front end et back-end. Développe sous CMS Prestashop et Wordpress ou application Rails et Middleman.
          <li>Spécialiste du growth hacking : j'intègre l'aspect marketing dans le développement web grâce à ma double casquette. Le résultat est tant visuel que performant. Un site esthétique qui fait la paire avec un SEO performant.
        </ul>
      </div>
    </div>


    <h2>Développement Front-end</h2>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
        <%= image_tag "workcoffee.jpg", class: "img-service" %>
      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Le développement "front" concerne la partie visuelle du site, c'est à l'emplacement des objets, les couleurs, la police, bref, c'est le résultat que vous percevez.
          <li>Il est important car il donne l'aspect esthétique de votre site. Sans lui vos page serait blanche, les liens bleus, comme une page word.
        </ul>
      </div>
    </div>

  <h2>Développement Back-end</h2>

  <div class="row">

        <div class="col-xs-12 col-md-4" align="center">
          <%= image_tag "back.jpg", class: "img-service" %>
        </div>

        <div clas="col-xs-12 col-md-8">
          <ul>
            <li>Le développement "back" concerne la partie cachée du site. Il représente les lignes de codes techniques pour faire fonctionner le site. Il peut être très simple comme le cheminement d'une page à l'autre mais peut être beaucoup plus complexe aussi.
            <li>Il est important car il donne permet le bon fonctionnement du site.
          </ul>
        </div>
      </div>

  </div>
</div>



