

<div class="container">
  <div class="realisation-content">
    <h1>Nos réalisations</h1>

    <h2>Stiff Bicycles</h2>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">

       <a href="https://www.stiffbicycles.com"><img src="images/stiff.jpg" alt="Stiff Bicycles" class="img-service"></a>

      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site marchand.</li>
          <li>Création complète du site internet avec le CMS Wordpress et une extension Woo-commerce.</li>
          <li>Optimisation SEO et accompagnement SEA.</li>
        </ul>
      </div>
    </div>

<h2>Easywind</h2>
    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
         <a href="images/stiff.jpg"><img src="images/easywind.jpg" alt="Easywind" class="img-service"></a>
      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site marchand.</li>
          <li>Améliorations de l'expérience client avec une refonte de la page d'accueil. Optimisation du contenu SEO de la globalité du site.</li>
          <li>Mise en place de la stratégie plublicitaire (SEA).</li>
          <li>Création de contenu optimisé via des pages d'aides pour le consommateur. CMS Prestashop.</li>
        </ul>
      </div>
    </div>

  <h2>Bike Your City</h2>
    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
         <a href="http://www.bikeyourcity.be/"><img src="images/byc.jpg" alt="Bike Your City" class="img-service"></a>
      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site marchand.</li>
          <li>Améliorations ergoniomique et optimisation du contenu pour un meilleur référencement naturel.</li>
          <li>Mise en place de la stratégie plublicitaire (SEA).</li>
          <li>Création de contenu optimisé via le blog. CMS Wordpress avec extension woocommerce.</li>
        </ul>
      </div>
    </div>

<h2>La Vie est Belt </h2>
    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
         <a href="https://lavieestbelt.fr/fr/"><img src="images/lveb.jpg" alt="La Vie est Belt" class="img-service"></a>
      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site marchand.
          <li>Création de pages et de contenu pour optimiser le référencement naturel.
          <li>Site internet sous le CMS Prestahsop.
        </ul>
      </div>
    </div>

    <h2>Olli-B environnement</h2>

    <div class="row">

      <div class="col-xs-12 col-md-4" align="center">
         <a href="https://aurelienbigo.github.io/OLLIB/"><img src="images/ollib.jpg" alt="Ollib Environnement" class="img-service"></a>
      </div>

      <div clas="col-xs-12 col-md-8">
        <ul>
          <li>Site vitrine.
          <li>Création complète du site internet sous Middleman, codé en ruby / html 5.
          <li>Site simple et rapide en navigation. Ergonomie choisie par le client.
        </ul>
      </div>
    </div>

  </div>
</div>



