<div class="container">
  <div class="thanks-container">
    <p align= "center">
      Merci pour votre message, nous traitons votre demande le plus rapidement.
    </p>

    <p align= "center">
      <%= link_to "Retour", "contact.html", class: "btn btn-primary btn-contact" %>
    </p>
  </div>
</div>
