<div class="footer">
  <div class="footer-links">
    <%= link_to "Mentions légales", "#" %>
    <%= link_to "Nous contacter", "#" %>
    <%= link_to "A propos", "#" %>
  </div>
  <div class="footer-copyright">
    <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 - Stiff Bicycles FActory - All right reserved</p>
  </div>
</div>
