
.about-container {
  background-color: white;
  margin-top: 20px;
  margin: 5% 5%;
  text-align: left;
  border-radius: 15px;
  h1 {
    padding: 25px 0px;
    text-align: center;
    color: $my-green;
  }
  p {
    padding: 5px 30px;
  }
  ul{
    padding: 5px 30px;
    li {
      margin: 10px 40px;
    }
  }
}
