.contact-container {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin: 5% 5%;
  text-align: center;
  border-radius: 15px;
}
.picto-contact {
  font-size: 40px;
  padding: 10px;
}
.formulaire {
  margin-bottom: 25px;
}
